<div id="fullpage">

    <div class="section active fp-auto-height-responsive" id="section0">
        <!--First slide-->
        <div class="carousel_item h-100 active" data-section-name="video">
            <div class="video-overlay"></div>
            <video muted loop id="myvid" class="video">
                <source src="https://www.w3schools.com/howto/rain.mp4" type="video/mp4" />
            </video>


            <div class="carousel-caption">
                <div class="text-box text-center">
                    <h1 class="font-weight-bold mb-4" id="sub-headers">DGT Digital Agency</h1>
                    <h3 class="mb-4 text-white" id="sub-headers2">We create the paths. Your </h3>
                    <h4 class="text-light mb-5">We are a Romanian-Canadian team of experts in
                        gamiﬁcation, digitalization, graphics, UI-UX, animations,digital equipment, production and
                        optimization.</h4>
                    <div class="text-center">
                        <button class="btn text-light mt-2" type="button" id="btn-subheader1"
                            style="margin-top:10% !important">Watch Video</button>
                    </div>
                </div>
            </div>

        </div>
        <!--/First slide -->
    </div>
    <div class="section fp-auto-height-responsive" id="section1">
        <div class="carousel_item" style="margin-top: 0%;">
            <div class="text-box-3">
                <div class="row">
                    <div class="col-12">
                        <h3 class="mb-4 text-center text-white" id="sub-headers3" style="font-family: opensansitalic">
                            What we do?</h3>
                        <div class="row m-0 p-0">
                            <div class="col-lg-4">
                                <span  class="bg-number">01</span>
                                <p
                                    style="color:#fff; margin-top: -25%; margin-left: 20%; font-weight: bold;text-transform: uppercase;">
                                    Attractive visual content</p>

                                <p style=" margin-left: 20%;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <span class="bg-number">02</span>
                                <p
                                    style="color:#fff; margin-top: -25%; margin-left: 20%; font-weight: bold;text-transform: uppercase;">
                                    Multiple Devices</p>
                                <p style=" margin-left: 20%;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </p>
                            </div>
                            <div class="col-lg-4">
                                <span class="bg-number">03</span>
                                <p
                                    style="color:#fff; margin-top: -25%; margin-left: 20%; font-weight: bold;text-transform: uppercase;">
                                    Better User Experience</p>
                                <p style=" margin-left: 20%;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                </p>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn text-light mt-2" type="button" id="btn-subheader1"
                                style="margin-top:12% !important">Download Brochure</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="section fp-auto-height-responsive" id="section2">
        <div class="carousel_item">
            <div class="text_box w-75 mx-auto text-center">
                <h2 class="font-weight-normal text_color text-center" style="font-family: opensansItalic;">Turn your ideas into visual stories.</h2>

                <p class="text-center text_color text-center">
                    <b>Products, services or processes can be presented as models that simulate the real-world original in digital space, with uses case across multiple domains. As a digital agency with cross disciplinary skills and expertise, we integrate software and hardware for special projects creation.</b>
                </p>
            </div>
            <div class="row w-100 m-0" style="position: relative">
                <div class="col-md-6 col-xs-12">
                    <p class="text-primary blue-color py-3">SIMULATION AND 3D MODELING
                        <img src="../assets/images/icons/icon_1.svg" height="30px" alt="">
                    </p>
                    <p class="text-primary blue-gradient">HOLOGRAM PROJECTIONS
                        <img src="../assets/images/icons/icon_2.svg" height="30px" alt="">
                    </p>
                    <p class="text-primary blue_panel">INTERACTIVE LIGHT PANELS
                        <img src="../assets/images/icons/icon_3.svg" height="30px" alt="">
                    </p>
                </div>
                <div class="col-md-6 col-xs-12">
                    <div class="img-center-sm">
                        <img src="../assets/images/image_1.png" alt="" style="margin-left: -25%; height: 100px;">
                        <p class="text-dark">Automative</p>
                        <img src="../assets/images/image_2.png" alt="" style="margin-left: 5%; height: 100px;">
                        <p class="text-dark" style="margin-left: 20%;">Industry 4.0</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section fp-auto-height-responsive" id="section3">
        <div class="carousel_item">
            <div class="row w-100 m-0">
                <div class="col-md-6 col-xs-12 img-panel-sm">
                    <img src="../assets/images/image_1.png" alt=""
                        style="height: 100px; margin-left: 50%; margin-top: 5%;">
                    <p class="text-dark" style="margin-left: 75%;">Automative</p>
                    <img src="../assets/images/machine_1.png" alt="" style="height: 100px;">
                    <p class="text-dark" style="margin-left: 50px;">Hydraulic</p>
                    <img src="../assets/images/image_2.png" alt="" style="height: 100px; margin-left: 50%;">
                    <p class="text-dark" style="margin-left: 75%;">Industry 4.0</p>
                </div>
                <div class="col-md-6 col-xs-12 blue-panel-sm">
                    <p class="text-primary blue_panel-2">
                        <img src="../assets/images/icons/icon_4.svg" height="30px" alt="">
                        INTERACTIVE EXHIBITION BOOTHS
                    </p>
                    <p class="text-primary blue-gradient-2">
                        <img src="../assets/images/icons/icon_5.svg" height="30px" alt="">
                        VIRTUAL BOOTHS AND TOURS
                    </p>
                    <p class="text-primary blue-color-2 py-3">
                        <img src="../assets/images/icons/icon_6.svg" height="30px" alt="">
                        VIRTUAL TRAINING PROGRAMS
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="section fp-auto-height-responsive" id="section4">
        <div class="carousel_item" data-section-name="intro">
            <div class="row w-100 m-0">
                <div class="col-md-6 col-xs-12 blue-panel-sm-2">
                    <p class="text-primary blue-color py-3">Traceability Technology
                        <img src="../assets/images/icons/icon_7.svg" height="30px" alt="">
                    </p>
                    <p class="text-primary blue-gradient">Digital corner IN-STORE Design
                        <img src="../assets/images/icons/icon_8.svg" height="30px" alt="">
                    </p>
                    <p class="text-primary blue_panel">Gaming Setups
                        <img src="../assets/images/icons/icon_9.svg" height="30px" alt="">
                    </p>
                </div>
                <div class="col-md-6 col-xs-12 img-center-sm">
                    <img src="../assets/images/image_1.png" alt="" style="margin-left: -25%; height: 100px;">
                    <p class="text-dark">Automative</p>
                    <img src="../assets/images/image_2.png" alt="" style="margin-left: 5%; height: 100px;">
                    <p class="text-dark" style="margin-left: 20%;">Industry 4.0</p>
                </div>
            </div>
            <div class="text_box w-75 mx-auto text-center">
                <h2 class="font-weight-normal text_color text-center" style="font-family: opensansItalic;">Tell a memorable visual story.</h2>
                <p class="text-center text_color text-center">
                    <b>Find out more about ourr Features and Modules, technologies used and their
                        benefits.<br />Download our brochhure to discover our world</b>
                </p>
            </div>
        </div>
    </div>

    <div class="section fp-auto-height-responsive" id="section5">
        <div class="carousel_item" id="slidetwobg" data-section-name="contact">
            <div class="section_box text-center">
                <!-- <div class="row align-items-center">
                <div class="col-md-8 col-sm-12 col-xs-12"> -->
                <h1 class="font-weight-bold mb-4 text-white" id="sub-headers">Who we are</h1>
                <!-- <h3 class="mb-4" id="sub-headers2">We engineer memorable experiences and efficient solutions for presenting complex concepts. </h3> -->
                <h4 class="text-light mb-5">We are a Romanian-Canadian team of experts in
                    gamiﬁcation, digitalization, graphics, UI-UX, animations,digital equipment, production and
                    optimization.</h4>
                <button class="btn text-light d-block mx-auto mt-2" type="button" id="btn-subheader">CONTACT US</button>
                <!-- </div> -->
                <!-- <div class="col-md-4 col-sm-12 col-xs-12 wow slideInLeft " data-wow-duration="4s">
                    <img src="./assets/hand-01.png" class="img-thumbnail img-responsive border border-0 mb-1">
                </div> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
    <div class="section fp-auto-height-responsive footer_section" id="section6" style="height:300px !important">
        <footer-file></footer-file>
    </div>
    
</div>


<!-- <script src="../assets/js/fullpage.js"></script> -->
<script type="text/javascript">
    var myFullpage = new fullpage('#fullpage', {
        // anchors: ['firstPage', 'secondPage', '3rdPage', '4thPage', '5thPage', '6thPage'],
        // sectionsColor: ['#C63D0F', '#1BBC9B', '#7E8F7C'],
        navigation: true,
        navigationPosition: 'right',
        navigationTooltips: ['Intro', 'What We Do?', 'Turn your ideas', 'Automotives', 'Memorable Story', 'Who we are'],
        responsiveWidth: 900,
        afterResponsive: function (isResponsive) {

        }

    });
</script>