<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>DGT</title>
    <link rel="icon" href="../../../assets/images/favicon.png" type="image/gif" sizes="64x64">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/fullpage.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">
    <base href="/">
</head>

<body ng-controller="bodyController" class='h-100'>
    <!-- Header start-->
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <a class="navbar-brand" href="/"><img src="../../../assets/images/LOGO DGT.png" height="50" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
            <!-- <span class="navbar-toggler-icon"></span> -->
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="offcanvas-header mt-3">
                <button class="btn btn-outline-light btn-close float-right fas"> &times; </button>
                <a class="navbar-brand" href="/"><img src="../../../assets/images/logo-sm.png" height="40" alt=""></a>
            </div>
            <ul class="navbar-nav text-center mobile_nav" style="width: 120px">
                <li class="nav-item mx-lg-auto active d-lg-block d-none">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item mx-lg-auto dropdown d-lg-block d-none">
                    <a class="nav-link dropdown-toggle productsList" href="#products1" data-toggle="dropdown"
                        data-target="" aria-expanded="false" aria-controls="productsList"
                        id="productsList"><u>Products</u> </a>
                </li>
                <li class="nav-item mx-auto dropdown d-lg-block d-none">
                    <a class="nav-link dropdown-toggle" href="#services" data-toggle="dropdown" data-target=""
                        aria-expanded="false" aria-controls="serviceListList" id="serviceListList">Services</a>
                </li>
                <li class="nav-item mx-auto d-lg-block d-none">
                    <a class="nav-link" href="../../../template/gallery.html">Gallery</a>
                </li>
                <li class="nav-item mx-auto d-lg-block d-none">
                    <a class="nav-link" href="../../../template/contact.html">Contact</a>
                </li>
                <li class="nav-item mx-auto d-lg-block d-none">
                    <div class="input-icons mt-1">
                        <i class="fa icon">&#xf002;</i>
                        <input class="input-field" 
 id="myInput"  type="text"><span><a class="px-2"
                                style="color: #2f1b5d; font-family: 'robotoBold';" href="#">EN</a></span>
                    </div>
                </li>
                <li class="d-lg-none d-block text-left">
                    <a class="nav-link text-uppercase" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="d-lg-none d-block text-left">
                    <a href="#" data-toggle="collapse" data-target="#toggleDemo"
                        class="collapsed nav-link dropdown-toggle"
                        style="margin-top: 20%; text-transform: uppercase; ">Products
                    </a>
                    <ul class="collapse" id="toggleDemo" style="list-style: none; margin-top: -6%; margin-left: -33%;">
                        <li>
                            <a href="../../../template/products/software.html"
                                class="text-white dropdown-toggle collapsed" data-toggle="collapse"
                                data-target="#togglechild1">
                                <span class="font-weight-bold text-white"> Software </span></a>
                            <ul class="collapse text-left" id="togglechild1" style="list-style: none;">
                                <li><a href="../../../template/products/softwares/animations.html"
                                        class="text-white">Animations</a></li>
                                <li><a href="../../../template/products/softwares/power_3d.html"
                                        class="text-white ">Power 3D</a></li>
                                <li><a href="../../../template/products/softwares/digital_twin.html"
                                        class="text-white ">Digital Twin</a></li>
                                <li><a href="../../../template/products/softwares/training_3d.html"
                                        class="text-white ">Training 3D</a></li>
                                <li><a href="../../../template/products/softwares/service_3d.html"
                                        class="text-white ">Services 3D</a></li>
                                <li><a href="../../../template/products/softwares/vr_ar.html"
                                        class="text-white ">VR/AR</a></li>
                                <li><a href="../../../template/products/softwares/configurators.html"
                                        class="text-white ">Configurators</a></li>
                                <li><a href="../../../template/products/softwares/virtual_tour.html"
                                        class="text-white ">Virtual Tour</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="text-white dropdown-toggle" data-toggle="collapse"
                                data-target="#togglechild2">
                                <span class="font-weight-bold text-white">Digital Twin</span> </a>
                            <ul class="collapse text-left" id="togglechild2" style="list-style: none;">
                                <li><a href="../../../template/products/digital_twin/automotive.html"
                                        class="text-white pl-2">Automotive</a></li>
                                <li><a href="../../../template/products/digital_twin/agriculture.html"
                                        class="text-white pl-2">Agriculture 5G</a></li>
                                <li><a href="../../../template/products/digital_twin/industry.html"
                                        class="text-white pl-2">Industry 4.0</a></li>
                                <li><a href="../../../template/products/digital_twin/infrastructure.html"
                                        class="text-white pl-2">Infrastructure</a></li>
                                <li><a href="../../../template/products/digital_twin/works.html"
                                        class="text-white pl-2">5G</a></li>
                                <li><a href="../../../template/products/digital_twin/interactive_booths.html"
                                        class="text-white pl-2">Interactive Booth</a></li>
                                <li><a href="../../../template/products/digital_twin/hydraulic.html"
                                        class="text-white pl-2">Hydraulic</a></li>
                            </ul>
                        </li>
                        <li><a href="#" class="text-white dropdown-toggle collapsed" data-toggle="collapse"
                                data-target="#togglechild3">
                                <span class="font-weight-bold text-white">Hardware</span></a>
                            <ul class="collapse text-left" id="togglechild3" style="list-style: none;">
                                <li><a href="../../../template/products/hardware/magnetic_card.html"
                                        class="text-white">NFC/RFID</a></li>
                                <li><a href="../../../template/products/hardware/interactive_light.html"
                                        class="text-white">Light Panel</a></li>
                                <li><a href="../../../template/products/hardware/interactive_models.html"
                                        class="text-white">Int. Models</a></li>
                                <li><a href="../../../template/products/hardware/holograms.html"
                                        class="text-white">Holograms</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="d-lg-none d-block text-left">
                    <a href="#" data-toggle="collapse" data-target="#toggleDemo1"
                        class="collapsed nav-link dropdown-toggle" style="margin-top: 20%; text-transform: uppercase;">
                        </span class="font-weight-bold text-white mr-2"> Services </span>
                    </a>
                    <ul class="collapse text-left" id="toggleDemo1"
                        style="list-style: none; margin-top: -6%; margin-left: -35%;">
                        <li><a href="../../../template/services/animation.html" class="text-white">Animations and
                                Scenarios Creation</a></li>
                        <li><a href="../../../template/services/3d_model.html" class="text-white">3D Model Creation</a>
                        </li>
                        <li><a href="../../../template/services/content_creation.html" class="text-white">Content
                                Creation</a></li>
                        <li><a href="../../../template/services/light_panels.html" class="text-white">Interactive Light
                                Panels</a></li>
                        <li><a href="../../../template/services/interactive_models.html" class="text-white">Interactive
                                Models</a></li>
                        <li><a href="../../../template/services/exhibition_booths.html" class="text-white">Exb Booths/
                                Digital Corners</a></li>
                    </ul>
                </li>
                <li class="d-lg-none d-block text-left">
                    <a class="nav-link text-uppercase" href="../../../template/gallery.html">Gallery</a>
                </li>
                <li class="d-lg-none d-block text-left">
                    <a class="nav-link text-uppercase" href="../../../template/contact.html">Contact</a>
                </li>
                <li class="d-lg-none d-block text-left">
                    <a class="nav-link text-uppercase">Search</a>
                </li>
                <li class="d-lg-none d-block text-left">
                    <a class="nav-link text-uppercase">language</a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container-fluid collapse offcanvas-header1" id="products1">
        <div class="row w-100 mb-4">
            <div class="col-md-4 my-1">
                <a href="../../../template/products/software.html">
                    <p class="text-center nav_link text_color font-weight-bold">
                        SOFTWARE
                    </p>
                </a>

                <div class="row mx-3">
                    <div class="col-4">
                        <a href="../../../template/products/softwares/animations.html">
                            <div class="card card-products">
                                <div class="card-body">
                                    <p class="card-text text-white text-center">Animations</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="../../../template/products/softwares/power_3d.html">
                            <div class="card card-products">
                                <div class="card-body">
                                    <p class="card-text text-white text-center">Power 3D</p>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-4">
                        <a href="../../../template/products/softwares/digital_twin.html">
                            <div class="card card-products">
                                <div class="card-body">
                                    <p class="card-text text-white text-center">DIGITAL TWIN</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row mx-3 my-2">
                    <div class="col-4">
                        <a href="../../../template/products/softwares/training_3d.html">
                            <div class="card card-products">
                                <div class="card-body">
                                    <p class="card-text text-white text-center">Training 3D</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="../../../template/products/softwares/service_3d.html">
                            <div class="card card-products">
                                <div class="card-body">
                                    <p class="card-text text-white text-center">Services 3D</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="../../../template/products/softwares/vr_ar.html">
                            <div class="card card-products">
                                <div class="card-body">
                                    <p class="card-text text-white text-center">VR/AR</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row mx-3">
                    <div class="col-2">
                        <div class="card border-0 card-products d-none">
                            <div class="card-body">
                                <p class="card-text text-white text-center"></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <a href="../../../template/products/softwares/configurators.html">
                            <div class="card card-products">
                                <div class="card-body">
                                    <p class="card-text text-white text-center">Configurators</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="../../../template/products/softwares/virtual_tour.html">
                            <div class="card card-products">
                                <div class="card-body">
                                    <p class="card-text text-white text-center">Virtual Tour</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-2">
                        <div class="card border-0 card-products d-none">
                            <div class="card-body border-0">
                                <p class="card-text text-white text-center"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="borderstyle">
                <a href="../../../template/products/digitaltwin.html">
                    <p class="text-center text_color   nav_link font-weight-bold">
                        DIGITAL TWIN
                    </p>
                </a>

                <div class="row mx-3">
                    <div class="col-4">
                        <a href="../../../template/products/digital_twin/automotive.html">
                            <div class="card card-products">
                                <div class="card-body">
                                    <p class="card-text text-white text-center">Automotive</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="../../../template/products/digital_twin/agriculture.html">
                            <div class="card card-products">
                                <div class="card-body">
                                    <p class="card-text text-white text-center">Agriculture 5D</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="../../../template/products/digital_twin/industry.html">
                            <div class="card card-products">
                                <div class="card-body">
                                    <p class="card-text text-white text-center">Industry 4.0</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row mx-3 my-2">
                    <div class="col-4">
                        <a href="../../../template/products/digital_twin/infrastructure.html">
                            <div class="card card-products">
                                <div class="card-body">
                                    <p class="card-text text-white text-center">Infrastructure</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="../../../template/products/digital_twin/works.html">
                            <div class="card card-products">
                                <div class="card-body">
                                    <p class="card-text text-white text-center">5G How it Works</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="../../../template/products/digital_twin/interactive_booths.html">
                            <div class="card card-products">
                                <div class="card-body">
                                    <p class="card-text text-white text-center">Interactive Booth</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row mx-3">
                    <div class="col-4">
                        <div class="card border-0 card-products d-none">
                            <div class="card-body">

                                <p class="card-text text-white text-center"></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <a href="../../../template/products/digital_twin/hydraulic.html">
                            <div class="card card-products">
                                <div class="card-body">
                                    <p class="card-text text-white text-center">Hydraulic</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <div class="card border-0 card-products d-none">
                            <div class="card-body border-0">
                                <p class="card-text text-white text-center"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-1">
                <a href="../../../template/products/hardware.html">
                    <p class="text-center nav_link text_color font-weight-bold">
                        HARDWARE </p>
                </a>

                <div class="row mx-3">
                    <div class="col-4">
                        <a href="../../../template/products/hardware/magnetic_card.html">
                            <div class="card card-products">
                                <div class="card-body">
                                    <p class="card-text text-white text-center">NFC Magnetic Cards/RFID</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="../../../template/products/hardware/interactive_light.html">
                            <div class="card card-products">
                                <div class="card-body">
                                    <p class="card-text text-white text-center">Interactive <br> Light Panel</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">
                        <a href="../../../template/products/hardware/interactive_models.html">
                            <div class="card card-products">
                                <div class="card-body">
                                    <p class="card-text text-white text-center">Interactive Models</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row mx-3 mt-2">
                    <div class="col-4">

                    </div>
                    <div class="col-4">
                        <a href="../../../template/products/hardware/holograms.html">
                            <div class="card card-products">
                                <div class="card-body">
                                    <p class="card-text text-white text-center">Holograms</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-4">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid collapse offcanvas-header2" id="services">
        <div class="row my-5">
            <div class="col-12 mb-3">
                <a href="../../../template/services/services.html">
                    <p class="text-center text_color  nav_link font-weight-bold">
                        SERVICES
                    </p>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="../../../template/services/animation.html">
                    <div class="card cardheight">
                        <div class="card-body">
                            <p class="card-text text-white text-center">Animations and
                                Scenarios Creation</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="../../../template/services/3d_model.html">
                    <div class="card cardheight">
                        <div class="card-body">
                            <p class="card-text text-white text-center">3D Models Creation, CAD
                                or 3D Scanning. Post-Processing</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="../../../template/services/content_creation.html">
                    <div class="card cardheight">
                        <div class="card-body">
                            <p class="card-text text-white text-center">Content Creation</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="../../../template/services/light_panels.html">
                    <div class="card cardheight">
                        <div class="card-body">
                            <p class="card-text text-white text-center">Interactive Light
                                Panels Design and Production</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="../../../template/services/interactive_models.html">
                    <div class="card cardheight">
                        <div class="card-body">
                            <p class="card-text text-white text-center">Interactive Models
                                Design and Production</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="../../../template/services/exhibition_booths.html">
                    <div class="card cardheight">
                        <div class="card-body">
                            <p class="card-text text-white text-center">Exhibition Booths /
                                Digital Corners Planning and Implementation</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /header end -->


    <div id="fullpage">

        <div class="section active fp-auto-height-responsive" id="section0">
            <!--First slide-->
            <div class="carousel_item h-100 active" data-section-name="video">
                <div class="container-fluid d-block m-auto" style="padding: 5em 1em;">
                    <div class="row w-100 mx-auto" style="margin-top: 100px !important;">
                        <div class="col-lg-8 col-md-6 col-xs-12">
                            <div class="container">
                                <span  class="bg-num2">01</span>
                                <div class="features_text2">
                                    <p
                                    style="font-size: 28px; color:#2f1b5d;  font-weight: 800; font-family: 'opensans';">
                                    Animations
                                </p>
                                    <div class="text-left ">
                                        <p id="sub-headers2">Animate and level up</p>
                                        <p class="sub_text">
                                            We create animations and visual effects applicable to a broad range of businesses,
                                            from
                                            technical to luxury, whether you have 3D data or we need to model and render it
                                            accordingly. <br>
                                            The resulting video contents can be seconds or minutes long, at full HD or 4K
                                            resolutions,
                                            acting as a visual narratives useful for training programs, marketing campaigns and
                                            strategy or
                                            customer experience transformations.
                                        </p>
                                    </div>
                                    <div class=" mt-4">
                                        <a href="../../../assets/pdf/DGT- Business Cards.pdf" download>
                                        <button class="btn text-light mx-auto" type="button" id="btn-subheader1">
                                            Download PDF
                                        </button></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12">
                            <img src="../../../assets/images/animation and scenario creation.png" class="w-100 mb-3" height="" alt="">
                            <div class="row">
                                <div class="col-md-5 col-xs-12">
                                    <img src="../../../assets/images/10 Animation jewelry.png" class="w-100 mx-2" alt="">
                                </div>
                                <div class="col-md-7 col-xs-12">
                                    <img src="../../../assets/images/10-Animation.png" class="w-100" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/First slide -->
        </div>

        <div class="section fp-auto-height-responsive fp-tooltip" id="section1">
            <div class="videoWrapper">
                <!-- Copy & Pasted from YouTube -->
                <iframe width="560" height="349"
                 src="https://youtube.com/embed/OOr4rBnvwNo?controls=1&showinfo=0&rel=0&autoplay=1&playlist=OOr4rBnvwNo&loop=1&mute=1&scroll=1"
                  frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="section fp-auto-height-responsive" id="section2">
            <div class="carousel_item d-flex">
                <div class="wrapper" id="features_section" >
                    <div class="animation-element slide-left testimonial">
                        <h3 class="my-5 text-center text-white tracking-in-expand" id="sub-headers3" 
                        style="font-family: opensansitalic; text-shadow: 2px 2px 4px #000000;">
                        Animation Features
                     </h3>
                    </div>
                    
                    
                    <!-- <h1 class="animate__animated animate__bounce">Animation Features
                    </h1> -->

                    <!-- <div class="container-fluid"> -->
                        <div class="row m-1 p-0" >
                            <div class="col-lg-4 col-md-6 ">
                                <span  class="bg-num1">01</span>
                                <div class="features_text1">
                                    <p
                                        style="color:#fff;  font-weight: bold;text-transform: uppercase;">
                                        User Friendly Presentation of Production Lines</p>
                
                                    <p style=" color:#fff;" >Catch even the most subtle differences between 
                                        same range products
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 ">
                                <span  class="bg-num1">02</span>
                                <div class="features_text1">
                                    <p
                                        style="color:#fff;  font-weight: bold;text-transform: uppercase;">
                                        Customer Attraction</p>
                
                                    <p style=" color:#fff;" >
                                        Fun discovery journeys, creation and design experiences, photos and videos capture of the products
                                
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 ">
                                <span  class="bg-num1">03</span>
                                <div class="features_text1">
                                    <p
                                        style="color:#fff;  font-weight: bold;text-transform: uppercase;">
                                        Processes Optimization and Strong Security</p>
                
                                    <p style=" color:#fff;" > Minimized resources, high speed and efficiency, short time implementation, remote collaboration, training cost reduction, low cloud storage resources and traffic costs
                                
                                    </p>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->


                </div>
            </div>
        </div>
        <!-- Footer start -->
        <div class="section fp-auto-height-responsive footer_section" id="section6" >
            <div class="carousel_item" data-section-name="video">
                <div class="container-fluid contact_form">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <div class="text-left m-5">
                                    <h2 class="font-weight-bold text-white mb-3" id="sub-headers">Contact us.</h2>
                                    <h3 class="mb-3"  style="font-family: opensansItalic; color: #b5bbc0;" id="sub-headers2">For projects, customer support, more infos.</h3>
                                    <p class=" mb-5" style="color: #b5bbc0;" id="sub-headers-p">
                                        Email us with any questions or inquires. <br> We would be happy to answer your questions and set up a meeting with you.
                                    <br> Gamify World can help set you apart from the flock!
                                    </p>
                                    <a href="" class="text-light">
                                        <div class="row">
                                            <div class="col-auto">
                                                <img src="../assets/images/icons/gmail-icon.png" height="25px" alt="">
                                                <span class="col-10" id="sub-headers-p">
                                                    office@gamifyworld.com
                                                </span>
                                            </div>
                                        </div>
                                        
                                    </a> <br>
                                    <a href="" class="text-light pt-2">
                                        <div class="row">
                                            <div class="col-auto">
                                                <img src="../assets/images/icons/whatsapp-icon.png" alt="" style="height: 25px; background-color: #dee2e6; border-radius: 15px;">
                                                <span class="col-10 text-light" id="sub-headers-p">
                                                    +40753514961
                                                </span>
                                            </div>
                                        </div>

                                        
                                        <!-- <i class='fa fa-whatsapp p-2' style='font-size:28px;color:#fff'></i>+40753514961 -->
                                    </a> <br>
                                    <a href="" class="text-light pt-2">
                                        <div class="row">
                                            <div class="col-auto">
                                                <img src="../assets/images/icons/fb-icon.png" alt="" style="height: 25px; background-color: #dee2e6; border-radius: 15px;">
                                                <span class="col-10 text-light" id="sub-headers-p">
                                                    gamifyworld.com
                                                </span>
                                            </div>
                                        </div>
                                        
                                        <!-- <i class='fa fa-facebook-square p-2' style='font-size: 28px; color:#fff'></i>gamifyworld.com -->
                                    </a> <br>
                                    <a href="" class="text-light pt-2">
                                        <div class="row">
                                            <div class="col-auto">
                                                <img src="../assets/images/icons/youtube-icon.png" alt="" style="height: 25px; background-color: #dee2e6; border-radius: 15px;">
                                                <span class="col-10" id="sub-headers-p">
                                                    gamifyworld.com
                                                </span>
                                            </div>
                                        </div>
                                        
                                        <!-- <i class='fa fa-youtube-square p-2' style='font-size :28px; color: #fff'></i>gamifyworld.com -->
                                    </a> <br>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <div class="mt-5 mb-4">
                                    <h3 class="mb-4" id="sub-headers2-contact" style="color: #b5bbc0; padding-left: 16%;">TELL US ABOUT YOUR PROJECT!</h3>
                                    <form action="">
                                        <div class="form-group row">
                                            <div class="col-2">
                                                <p class="text-right text-white" id="sub-headers-p">NAME</p>
                                            </div>
                                            <div class="col-10">
                                                <input type="text" class="form-control" id="contact-input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2">
                                                <p  class="text-right text-white" id="sub-headers-p">COMPANY</p>
                                            </div>
                                            <div class="col-10">
                                                <input type="text" class="form-control" id="contact-input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2">
                                                <p  class="text-right text-white" id="sub-headers-p">LOCATION</p>
                                            </div>
                                            <div class="col-10">
                                                <input type="text" class="form-control" id="contact-input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2">
                                                <p class="text-right text-white" id="sub-headers-p">SUBJECT</p>
                                            </div>
                                            <div class="col-10">
                                                <input type="text" class="form-control" id="contact-input">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-2">
                                                <p class="text-right text-white" id="sub-headers-p">MESSAGE</p>
                                            </div>
                                            <div class="col-10">
                                                <textarea name="" class="form-control" id="" cols="51" rows="8" 
                                                style="border-radius: 20px 20px 20px 20px;
                                                background-color: #484c88;
                                                border: 2px double #dee2e6;
                                                color: #fff;" class="contact-textarea">
                                                </textarea> 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-2">
                                            </div>
                                            <div class="col-10">
                                                <div class="row mb-4">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                        <label class="custom-control-label text-light" id="sub-headers-p" for="customCheck1" >SEND ME EMAIL COPY</label>
                                                        <!-- <label class="custom-control-input text-light">SEND ME EMAIL COPY
                                                            <input type="radio" name="radio">
                                                            <span class="checkmark"></span>
                                                        </label> -->
                                                    </div>
                                                    <div class="form-group ml-5 pl-5">
                                                        <!-- <button class="btn text-light" type="button" id="btn-video">SEND</button> -->
                                                        <!-- <button class="btn text-light ml-3" type="submit" id="btn-sbmt">SEND</button> -->
                                                        <input type="submit" value="Submit" class="btn btn-outline btn-default" style="color: #fff;
                                                        border: 2px solid #dee2e6;
                                                        background-color: #484c88;
                                                        font-weight: 600; position: absolute; right: 5%;
                                                        border-radius: 12px;"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="container-fluid footer_wrapper22">
                <div class="row ">
                    <div class="col-6">
                        <img src="./assets/images/logo.svg" alt="" height="40px" class="pt-2">
                    </div>
                    <div class="col-6">
                        <div class="pt-2 row ">
                            <div style="position: absolute; right: 10%;">
                                <img src="../../assets/images/icons/facebook.svg" alt="" height="25px">
                                <img src="../../assets/images/icons/whatsapp.svg" class="mx-2" alt="" height="25px">
                                <img src="../../assets/images/icons/youtube.svg" alt="" height="25px">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12 footer-list_mobile">
                            <span class="p-1">PRIVACY POLICY</span>
                            <span class="p-1">TERMS OF USE</span>
                            <span class="p-1">LEGAL</span>
                            <span class="p-1">CUSTOMER SUPPORT</span>
                            <span class="p-1">DESKTOP VERSION</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 footer-list_mobile text-center">
                        Digital Agency Software&reg; 2020 All rights reserved.
                    </div>
                </div>
            </div>
        </div>
        <!-- /footer end -->

    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="../../../assets/js/fullpage.js"></script>
    <!-- <script src="./assets/js/angular.min.js"></script> -->
    <!-- <script src="./assets/js/angular-route.min.js"></script> -->
    <script src="../../../assets/js/bootstrap.min.js"></script>
    <!-- <script src="./assets/js/app.js"></script> -->
    <!-- <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script> -->
    <script src="../../../assets/js/routes.js"></script>
    <script src="../../../assets/js/main.js"></script>
    <script src="../../../assets/js/script.js"></script>
    <script type="text/javascript">

    
// $('#fullpage').fullpage({
//     sectionsColor: ['#fff', '#fff', '#fff', '#fff'],
//     scrollOverflow: true,
//     navigation: true,
//             navigationPosition: 'right',
//             navigationTooltips: ['Intro','video', 'Features', 'Who we are', 'Memorable Story', 'Who we are'],
// });
        var myFullpage = new fullpage('#fullpage', {
            // anchors: ['firstPage', 'secondPage', '3rdPage', '4thPage', '5thPage', '6thPage'],
            // sectionsColor: ['#C63D0F', '#1BBC9B', '#7E8F7C'],
            navigation: true,
            navigationPosition: 'right',
            navigationTooltips: ['Intro', 'video', 'Features', 'Who we are', 'Memorable Story', 'Who we are'],
            responsiveWidth: 900,
            afterResponsive: function (isResponsive) {

            }

        });

       
        
    </script>
    
</body>

</html>