<div id="fullpage">

    <div class="section active fp-auto-height-responsive" id="section0">
        <!--First slide-->
        <div class="carousel_item h-100 active" data-section-name="video">
            <div class="container d-block m-auto" style="padding: 5em 1em;">
                <div class="row w-100 mx-auto" style="margin-top: 100px !important;">
                    <div class="col-lg-6 col-md-4 col-xs-12">
                        <div class="container">
                            <span style="font-size:150px; opacity:0.3; color: #2f1b5d; font-weight: 1000">05</span>
                            <p
                                style="font-size: 24px;color:#2f1b5d; margin-top: -20%; margin-left: 10%; font-weight: bold;text-transform: uppercase;">
                                Service 3D</p>
                            <p id="sub-headers2">Technical playbooks and repair instruction made accessible.</p>
                            <p class="sub_text">
                                Lessons are learned and oppurtunities uncover.
                                Our digital assisted training cover.
                                <ul style="color:#2f1b5d;">
                                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
                                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
                                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
                                </ul>
                            </p>
                        </div>
                        <div class="row">
                            <button class="btn text-light mx-auto mt-2" type="button" id="btn-subheader1"
                                style="margin-top:10% !important">Download PDF</button>
                            <button class="btn text-light mx-auto mt-2" type="button" href="animation-video" id="btn-subheader1"
                                style="margin-top:10% !important">Watch Video</button>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 col-xs-12">
                        <img src="../../../assets/images/slider_img/slider_img_1.jpg" class="w-100" alt="">
                        <div class="row m-0 p-0">
                            <div class="col-6 m-0 mt-1 p-0">
                                <img src="../../../assets/images/slider_img/slider_img_1.jpg" class="w-100" alt="">
                            </div>
                            <div class="col-6 m-0 mt-1 p-0">
                                <img src="../../../assets/images/slider_img/slider_img_1.jpg" class="w-100" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/First slide -->
    </div>
    <div class="section fp-auto-height-responsive" id="section1">
        <img src="../../../assets/images/slider_img/slider_img_1.jpg" class="w-100">

    </div>
    <div class="section fp-auto-height-responsive" id="section2">
        <div class="carousel_item d-flex">
            <div class="wrapper w-100 d-grid align-items-center justify-content-center" style="background-color: #2f1b5d; height: 100vh; padding: 8em 4px !important">
                <h3 class="mb-4 text-center text-white" id="sub-headers3" style="font-family: opensansitalic">Services 3D Features</h3>
                <div class="row m-0 p-0">
                    <div class="col-lg-4">
                        <span style="font-size:150px; opacity:0.3; color: #fff; font-weight: 1000">01</span>
                        <p
                            style="color:#fff; margin-top: -25%; margin-left: 20%; font-weight: bold;text-transform: uppercase;">
                            Attractive visual content</p>
    
                        <p style=" color:#fff;margin-left: 20%;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <span style="font-size:150px; opacity:0.3; color: #fff; font-weight: 1000">02</span>
                        <p
                            style="color:#fff; margin-top: -25%; margin-left: 20%; font-weight: bold;text-transform: uppercase;">
                            Multiple Devices</p>
                        <p style=" color:#fff;margin-left: 20%;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <span style="font-size:150px; opacity:0.3; color: #fff; font-weight: 1000">03</span>
                        <p
                            style="color:#fff; margin-top: -25%; margin-left: 20%; font-weight: bold;text-transform: uppercase;">
                            Better User Experience</p>
                        <p style="color:#fff; margin-left: 20%;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
                <div class="row m-0 p-0">
                    <div class="col-lg-4">
                        <span style="font-size:150px; opacity:0.3; color: #fff; font-weight: 1000">04</span>
                        <p
                            style="color:#fff; margin-top: -25%; margin-left: 20%; font-weight: bold;text-transform: uppercase;">
                            Attractive visual content</p>
    
                        <p style=" color:#fff;margin-left: 20%;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <span style="font-size:150px; opacity:0.3; color: #fff; font-weight: 1000">05</span>
                        <p
                            style="color:#fff; margin-top: -25%; margin-left: 20%; font-weight: bold;text-transform: uppercase;">
                            Multiple Devices</p>
                        <p style=" color:#fff;margin-left: 20%;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                    <div class="col-lg-4">
                        <span style="font-size:150px; opacity:0.3; color: #fff; font-weight: 1000">06</span>
                        <p
                            style="color:#fff; margin-top: -25%; margin-left: 20%; font-weight: bold;text-transform: uppercase;">
                            Better User Experience</p>
                        <p style="color:#fff; margin-left: 20%;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="section fp-auto-height-responsive footer_section" id="section6" style="height:300px !important">
        <footer-file></footer-file>
    </div>

</div>


<!-- <script src="../assets/js/fullpage.js"></script> -->
<script type="text/javascript">
    var myFullpage = new fullpage('#fullpage', {
        // anchors: ['firstPage', 'secondPage', '3rdPage', '4thPage', '5thPage', '6thPage'],
        // sectionsColor: ['#C63D0F', '#1BBC9B', '#7E8F7C'],
        navigation: true,
        navigationPosition: 'right',
        navigationTooltips: ['Intro', 'What We Do?', 'Turn your ideas', 'Automotives', 'Memorable Story', 'Who we are'],
        responsiveWidth: 900,
        afterResponsive: function (isResponsive) {

        }

    });
</script>