<div class="animation_wrapper" style="width:100%;">
    <div class="container d-block m-auto" style="padding: 5em 1em;">
        <div class="row w-100 mx-auto" style="margin-top: 100px !important;">
            <div class="col-lg-6 col-md-4 col-xs-12">
                <div class="container">
                    <span style="font-size:150px; opacity:0.3; color: #2f1b5d; font-weight: 1000">06</span>
                    <p
                        style="font-size: 24px;color:#2f1b5d; margin-top: -20%; margin-left: 10%; font-weight: bold;text-transform: uppercase;">
                        VR/AR</p>
                    <p id="sub-headers2">Virtual exploration and discovery of your relaity.</p>
                    <p class="sub_text">
                        Our solutin supports AR/VR navigation, for immersive and experiences coming as a continuatin to:
                        <ul style="color:#2f1b5d;">
                            <li>Attractive 3D features. </li>
                            <li>animations </li>
                            <li>exploded view</li>
                            <li>transparences</li>
                            <li>real time simulation.</li>
                        </ul>
                    </p>
                </div>
                <div class="row">
                    <button class="btn text-light mx-auto mt-2" type="button" id="btn-subheader1"
                        style="margin-top:10% !important">Download PDF</button>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-xs-12">
                <img src="../../../assets/images/slider_img/slider_img_1.jpg" class="w-100" alt="">
                <div class="row m-0 p-0">
                    <div class="col-6 m-0 mt-1 p-0">
                        <img src="../../../assets/images/slider_img/slider_img_1.jpg" class="w-100" alt="">
                    </div>
                    <div class="col-6 m-0 mt-1 p-0">
                        <img src="../../../assets/images/slider_img/slider_img_1.jpg" class="w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
</div>