<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a class="navbar-brand" href="/"><img src="../../assets/images/logo.svg" height="60" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav text-center w-100">
        <li class="nav-item mx-auto active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mx-auto dropdown">
            <a class="nav-link dropdown-toggle productsList"  href="#products1" data-toggle="dropdown" data-target="" aria-expanded="false" aria-controls="productsList" id="productsList">Products</a>
            
        </li>
        <li class="nav-item mx-auto dropdown">
            <a class="nav-link dropdown-toggle" href="#services" data-toggle="dropdown" data-target="" aria-expanded="false" aria-controls="serviceListList" id="serviceListList">Services</a>
            
        </li>
        <li class="nav-item mx-auto">
            <a class="nav-link" href="/gallery">Gallery</a>
        </li>
        <li class="nav-item mx-auto">
            <a class="nav-link" href="/contact">Contact</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </nav>

  <div class="container-fluid collapse" id="products1">
    <div class="row w-100 mb-4">
        <div class="col-md-4">
           
                <p class="text-center nav_link font-weight-bold">
                    SOFTWARE
                </p>
            
            <div class="row">
                <div class="col-4">
                    <div class="card card-products">
                        <div class="card-body">
                            <a href="/products_animations">
                                <p class="card-text text-white text-center">Animations</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-products">
                        <div class="card-body">
                            <a href="/power_3d">
                                <p class="card-text text-white text-center">Power 3D</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-products">
                        <div class="card-body">
                            <a href="/digital_twin">
                                <p class="card-text text-white text-center">DIGITAL TWIN</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="card card-products">
                        <div class="card-body">
                            <a href="/training_3d">
                                <p class="card-text text-white text-center">Training 3D</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-products">
                        <div class="card-body">
                            <a href="/service_3d">
                                <p class="card-text text-white text-center">Services 3D</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-products">
                        <div class="card-body">
                            <a href="/vr_ar">
                                <p class="card-text text-white text-center">VR/AR</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="card border-0 card-products d-none" >
                        <div class="card-body">
                            <p class="card-text text-white text-center"></p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-products">
                        <div class="card-body">
                            <a href="/configurators">
                                <p class="card-text text-white text-center">Configurators</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-products">
                        <div class="card-body">
                            <a href="/virtual_tour">
                                <p class="card-text text-white text-center">Virtual Tour</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card border-0 card-products d-none">
                        <div class="card-body border-0">
                            <p class="card-text text-white text-center"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" id="borderstyle">
            
                <p class="text-center nav_link font-weight-bold">Digital Twin</p>
            
            <div class="row mx-3">
                <div class="col-4">
                    <div class="card card-products">
                        <div class="card-body">
                            <a href="/automotive">
                                <p class="card-text text-white text-center">Automotive</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-products">
                        <div class="card-body">
                            <a href="/agriculture">
                                <p class="card-text text-white text-center">Agriculture 5D</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-products">
                        <div class="card-body">
                            <a href="/industry">
                                <p class="card-text text-white text-center">Industry 4.0</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-3 my-2">
                <div class="col-4">
                    <div class="card card-products">
                        <div class="card-body">
                            <a href="/infrastructure">
                                <p class="card-text text-white text-center">Infrastructure</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-products">
                        <div class="card-body">
                            <a href="/how_5G_works">
                                <p class="card-text text-white text-center">5G How it works</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-products">
                        <div class="card-body">
                            <a href="/interactive_booth">
                                <p class="card-text text-white text-center">Interactive Booth</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-3">
                <div class="col-4">
                    <div class="card border-0 card-products d-none" >
                        <div class="card-body">
                            
                                <p class="card-text text-white text-center"></p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card card-products">
                        <div class="card-body">
                            <a href="/hydraulics">
                                <p class="card-text text-white text-center">Hydraulic</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card border-0 card-products d-none">
                        <div class="card-body border-0">
                            <p class="card-text text-white text-center"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            
            <p class="text-center nav_link font-weight-bold">HARDWARE</p>
            <div class="row mx-3">
                <div class="col-6">
                    <div class="card card-products1" id="slidetwobg">
                        <div class="card-body">
                            <a href="/magnetic_cards">
                                <p class="card-text text-white text-center">NFC magnetic Cards/RFID</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card card-products1" id="slidetwobg">
                        <div class="card-body">
                            <a href="/interactive_lights">
                                <p class="card-text text-white text-center">Interactive light panel</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-3 mt-2">
                <div class="col-6">
                    <div class="card card-products1" id="slidetwobg">
                        <div class="card-body">
                            <a href="/interactive_models">
                                <p class="card-text text-white text-center">Interactive models</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card card-products1" id="slidetwobg">
                        <div class="card-body">
                            <a href="/holograms">
                                <p class="card-text text-white text-center">Holograms</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid collapse" id="services">
  <div class="row mb-5">
      <div class="col-sm-2" >
          <div class="card cardheight" id="slidetwobg">
              <div class="card-body">
                  <a href="/animation">
                      <p class="card-text text-white text-center" style="font-size: 12px;">Animations and Scenarios creation</p>
                  </a>
              </div>
          </div>
      </div>
      <div class="col-sm-2">
         <div class="card cardheight" id="slidetwobg">
             <div class="card-body">
                 <a href="/3d_model">
                      <p class="card-text text-white text-center" style="font-size: 12px;">3D models creation, CAD or 3D scanning. Post-processing</p>
                  </a>
              </div>
         </div>
     </div>
     <div class="col-sm-2">
         <div class="card cardheight" id="slidetwobg">
             <div class="card-body">
                 <a href="/content_creation">
                      <p class="card-text text-white text-center" style="font-size: 12px;">Content creation</p>
                  </a>
             </div>
         </div>
     </div>
     <div class="col-sm-2">
         <div class="card cardheight" id="slidetwobg">
             <div class="card-body">
                 <a href="/light_panels">
                      <p class="card-text text-white text-center" style="font-size: 12px;">Interactive Light Panels design and production</p>
                  </a>
             </div>
         </div>
     </div>
     <div class="col-sm-2">
         <div class="card cardheight" id="slidetwobg">
             <div class="card-body">
                 <a href="/interactive_models">
                       <p class="card-text text-white text-center" style="font-size: 12px;">Interactive Models design and production</p>
                  </a>
             </div>
         </div>
     </div>
     <div class="col-sm-2">
         <div class="card cardheight" id="slidetwobg">
             <div class="card-body">
                 <a href="/exhibition_booths">
                      <p class="card-text text-white text-center" style="font-size: 12px;">Exhibition Booths / Digital Corners Planning and implementation</p>
                  </a>
             </div>
         </div>
     </div>
  </div>
</div>