@font-face {
    font-family: myriad;
    src: url(../Fonts/MyriadPro-Regular.otf);
    font-weight: normal;
}

@font-face {
    font-family: opensans;
    src: url(../Fonts/OpenSans-ExtraBold.ttf);
    font-weight: bolder;
}
@font-face {
    font-family: opensansItalic;
    src: url(../Fonts/OpenSans-LightItalic.ttf);
    font-weight: italic;
}

@font-face {
    font-family: robotoBold;
    src: url(../Fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: robotoRegular;
    src: url(../Fonts/Roboto-Regular.ttf);
    font-weight: normal;
}

* {
    box-sizing: border-box;
}


/* Navbar */

nav {
    box-shadow: 1px 3px 10px #111;
    margin-bottom: 100px !important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link,.navbar-light .navbar-nav .nav-link {
    color: #2f1c5d;
    font-family: robotoBold;
}


/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    height:20px;
    right:10px; left:auto;
    width:auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.carousel-indicators li{
    display:block; margin-bottom:5px; border:1px solid #00a199; 
    
}
.carousel-indicators li.active{
    margin-bottom:5px; background:#00a199;
    
}

.dropdown1 {
    min-width: 700px !important;
}

/* #products1 {
    display: block;
    margin: auto;
    align-items: center;
    z-index: 999;
}

.productsList:hover #products1{
    display: block !important;
} */

#products1, #services {
    position: absolute;
    background-color: #fff;
    z-index:9999;
    margin-top:86px;
}

#products1 .col-4 {
    padding: 4px;
}
.card-products,.card-products1 {
    height: 100px;
    width: 100%;
    border-radius: 50%;
    font-size: 12px;
    margin: auto;
    align-items: center;
    background-image: linear-gradient(to right, #4393ca, #2f1b5d);
}
.card-products1 {
    height: 175px;
}

.card-products .card-body,.card-products1 .card-body {
    display: flex;
    margin: auto;
    align-items: center;
}

.card-body {
    padding: 0;
}

.cardheight {
    height: 175px;
    width: 100%;
    font-size: 12px;
    border-radius: 50%;
    background-color: #2f1b5d;
}

.cardheight .card-body {
    display: flex;
    margin: auto;
    align-items: center;
}

.wrapper {
    overflow-x: hidden
}


/* -------- */
/* Carousel */
/* -------- */

.carousel-caption {
    height: 100%;
    vertical-align: middle;
    top: 40%;
} 

.carousel_inner {
    height: auto;
}

/* .carousel_item {
    height: 100vh;
}  */

#section0, #section1, #section2, #section3, #section4, #section5 {
    height: 100% !important;
}

#section6 > .wrapper{
    height: 30vh !important
}

.carousel-indicators{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    height:20px;
    right:10px;
    left:auto;
    width:auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    left: 95%;
}

.carousel-control-prev{
    align-items: flex-start; /* Aligns it at the top */
    left: 45%;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: #2f1b5d !important;
    border: 1px solid #f1f1f1; 
}

.carousel-control-next{
    align-items: flex-end;; /* Aligns it at the bottom */
    left: 45%; 
}

#slidetwobg{
    background-color: #2f2971;
}

#slidetwobgright{
    background-color: #2f2971;
    height: 60vh;
    margin-top: 4%;
    border-top-left-radius: 200px;
}

.contact_form {
    background-color: #2f1b5d;
    padding-top:10% !important; 
    height:auto;
}

#contact-input{
    display: block;
    background-color: #484c88;
    color: white;
    font-weight: 400;
    border-radius: 1.25em;
    border: 2px solid #ced4da;

}

/* .custom-control-input{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-control-input input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
} */


/* Create a custom radio button */
/* .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  } */
    
/* On mouse-over, add a background color */
/* .custom-control-input:hover input ~ .checkmark {
    background-color: #ccc;
} */

/* When the radio button is checked, add a blue background */
/* .custom-control-input input:checked ~ .checkmark {
    background-color: #2196F3;
} */


/* Create the indicator (the dot/circle - hidden when not checked) */
/* .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  } */
  
  /* Show the indicator (dot/circle) when checked */
  /* .custom-control-input input:checked ~ .checkmark:after {
    display: block;
  } */
  
  /* Style the indicator (dot/circle) */
  /* .custom-control-input .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  } */
  

#carouselitem{
    height: 100vh;
    background-color: #2f2971;
}

.text-box {
    /* position: absolute; */
    /* width: 50%; */
    /* top: 100%; */
    display: block;
    margin: 10% auto 0;
    /* margin-top: 15%; */
	left: 12%;
	right: 12%;
	color: #fff;
	transform: translateY(-50%);
}

#section5 #slidetwobgright {
    display: flex;
}

.section_box {
    display: flex;
    margin: auto;
    align-items: center;
    width: 75%;
    justify-content: center;
    flex-wrap: wrap;
}

.text-box-3 {
    background-color: #2f1c5d;
    color: #fff;
    height:75vh;
    padding-top: 5%;
    border-bottom-right-radius: 200px;
	/* transform: translateY(-50%); */
}

.text-box-4 {
    position: relative;
    background: linear-gradient(to right, #4393ca, #2f1b5d);
    opacity: 1;
    color: #fff;
    border-bottom-right-radius: 200px;
}



.bg-overlay{
    background-image: url("../../assets/images/circuits.png");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20%;
} 

.bg-overlay2{
    background-image: url("../../assets/images/left-circuits.png");
    background-repeat: no-repeat;
    background-position-y: center;
    height: 75vh;
    position: absolute;
}

.blue-color,.blue-gradient {
    width: 50%;
    background-color: #4393ca;
    padding: 12px;
    margin-top: 10%;
    margin-left: -3%;
    margin-bottom: 0 !important;
    color: #fff !important;
    /* border-radius: 100px; */
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;;
    text-align: center;
    text-transform: uppercase;
    transition: width 1s, height 1s;
}

.blue-color:hover{
    width: 60%;
}

.blue-gradient {
    width: 55%;
    margin-top: 0 !important;
    background: linear-gradient(to right, #4393ca, #2f1b5d); 
    transition: width 1s, height 1s;
}

.blue-gradient:hover{
    width: 65%;
}

.blue-color img,
.blue-gradient img,
.blue_panel img {
    float: right;
}

.blue_panel {
    width: 60%;
    background-color: #2f1b5d;
    padding: 18px;
    text-align: center;
    margin-left: -3%;
    color: #fff !important;
    /* border-radius: 100px; */
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;;
    text-transform: uppercase;
    transition: width 1s, height 1s;
}

.blue_panel:hover {
    width: 70%;
}

.blue_panel-2 {
    width: 50%;
    background-color: #2f1b5d;
    padding: 18px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 16%;
    color: #fff !important;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transition: width 1s, height 1s;
}

.blue_panel-2:hover{
    width: 60%;
}

.blue-color-2 img,
.blue-gradient-2 img,
.blue_panel-2 img {
    float: left;
}

.blue-gradient-2 {
    width: 55%;
    padding: 12px;
    text-align: center;
    position: absolute;
    top: 27%;
    right: 0;
    color: #fff !important;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background: linear-gradient(to right, #4393ca, #2f1b5d);
    transition: width 1s, height 1s;
}

.blue-gradient-2:hover{
    width: 65%;
}

.blue-color-2 {
    width: 60%;
    background-color: #4393ca;
    padding: 12px;
    position: absolute;
    top: 37%;
    /* margin-top: -3%; */
    right: 0;
    color: #fff !important;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    text-align: center;
    transition: width 1s, height 1s;
}

.blue-color-2:hover{
    width: 70%;
}

.img_home_section2-1{
    margin-left: -10%; 
    height: 150px;
}

.img_home_section2-2{
    margin-left: 35%; 
    height: 150px;
}

.p_img_home_section2-1{
    margin-left: 5%;
}

.p_img_home_section2-2{
    margin-left: 50%; 
    margin-top: 3%;
}

.img_home_section3-1{
    height: 140px; 
    margin-left: 50%;
}

.img_home_section3-2{
    height: 140px;;
}

.p_img_home_section3-1{
    margin-left: 67%;
}

.p_img_home_section3-2{
    margin-left: 75px;
}
 #mybtn{
     background-color: transparent;
     border: none;
 }

 .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100% !important;
    background-color: #2f1c5d;
    opacity: 0.5;
    z-index: 2;
 }

 #btn-video{
    background-color: #484c88;
    border: 2px double #dee2e6;
    border-radius: 25px 25px 25px 25px;
    width: 220px;
    margin: 24px 25% !important;
    font-family: 'robotoBold';
    position: absolute;
    z-index:3;
}

 #myvid {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    /* width: 100%; */
  }

  @media(max-width: 478px) {
      #myvid {
          width: 100%;
      }
  }


  #myvid2 {
    position: relative;
    left: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

  #myvid2-txt{
    margin-left: -16%;
    margin-top: 18%;
    font-weight: bold;
  }

#slider-animation-2 .carousel-item img{width:100%;}
.text-box img  {width:100%}
.red-color{
    color:red; 
    font-size:60px; 
    text-align:center; 
    margin-bottom:20px;
     margin-top:40px;
    text-transform:uppercase;
    width:100%;}
.text-p{text-align:center; width:100%; margin-bottom:60px;}

#sub-headers{
    font-family: 'opensans';
}
.text_color{
    color:#2f1b5d
}

.sub_text {
    font-family: 'myriad';
    color: #2f1b5d;
}


#sub-headers2{
    font-family: 'opensansItalic';
    font-size: 25px;
    color: #2f1b5d;
}

#sub-headers2-contact{
    font-family: 'opensansItalic';
    font-size: 25px;
    color: #2f1b5d;
}

#sub-headers3{
    font-family: 'opensansItalic';
    font-size: 28px;
    color: #dee2e6;
}

#bg_number_header{
    color:#fff; 
    margin-top: -25%; 
    margin-left: 20%; 
    font-weight: bold;
    text-transform: uppercase;
}

#btn-subheader{
    background-color: #484c88;
    border: 2px double #dee2e6;
    border-radius: 25px 25px 25px 25px;
    width: 220px;
    font-family: 'robotoBold';
}

#btn-subheader-home{
    background-color: transparent;
    border: 2px double #dee2e6;
    border-radius: 25px 25px 25px 25px;
    width: 220px;
    font-family: 'robotoBold';
}

#btn-subheader1{
    background-color: #2f1b5d;
    border: 1px double #dee2e6;
    border-radius: 25px 25px 25px 25px;
    width: 220px;
    font-family: 'robotoBold';
}

#btn-subheader2{
    background-color: #484c88;
    border: 1px double #dee2e6;
    border-radius: 15px 15px 15px 15px;
    width: 220px;
    height: 75px;
    font-size: 36px;
    font-family: 'Roboto-Bold';
}

#subheader-box{
    border: 1px double #8f94e6;
    border-radius: 18px 18px 18px 18px;
    height: 80px;
    background-color: #484c88;
    /* width: 300px; */
}

#subheader-box1{
    border: 1px double #8f94e6;
    border-radius: 18px 18px 18px 18px;
    height: 150px;
    width: 400px;
    background-color: #484c88;
    margin-left: -25%;
    margin-top: -10%;
}

#subheader-box2{
    border: 1px double #8f94e6;
    border-radius: 18px 18px 18px 18px;
    height: 150px;
    width: 400px;
    background-color: #484c88;
    margin-right: -25%;
    margin-top: -10%;
}

#subheader-box3{
    border: 1px double #8f94e6;
    border-radius: 18px 18px 18px 18px;
    height: 190px;
    width: 400px;
    background-color: #484c88;
    margin-top: 10
}

.text-box-2 {
	position: absolute;
	top: 40%;
	left: 12%;
    right: 12%;
    color: #fff;
	transform: translateY(-50%);
}

#carousel-text1{
    color: #2f1c81;
    font-family: opensansItalic;
}

#carousel-text2{
    color: #2f1c81;
    font-family: myriad;
}


/* ------------ */
/* carousel end */
/* ------------ */



/* -----------
--header start
------------- */
#borderstyle::before {
    content: "";
    position: absolute;
    left: 0;
    z-index: 100;
    top: 30%;
    width: 2px;
    height: 25%;
    background: #2f2971;
}

#borderstyle::after {
    content: "";
    position: absolute;
    right: 0;
    z-index: 100;
    top: 30%;
    width: 2px;
    height: 25%;
    background: #2f2971;
}

/* -----------
--header-end--
-------------- */

/* ---------
-- footer---
------------ */
.footer_section .fp-tableCell {
    height: 300px !important
}
.footer_wrapper {
    position: relative;
    height:40vh !important;
    top: 10%;
    z-index:99
}
.footer-list1{
    list-style: none;
    color: #2f2971; 
    font-weight: bold; 
    font-size: 11px; 
    line-height: 1.5em;
}

.footer-header{
    color: #2f2971; 
    font-size: 11px;
    font-weight: bold; 
    border-bottom: 1px solid #2f2971;
}

.footer-list2{
    color: #2f2971; 
    /* font-weight: bold;  */
    font-size: 8px; 
    line-height: 1.5em; 
}

.policy-footer{
    margin-top: 25%;
}

.copywrite-footer{
    margin-top: 0%;
}
/* /footer */

.bg-number{
    font-size: 150px;
    opacity: 0.1;
    color: #fff;
    font-weight: 1000;
} 

/* @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){ */
 @media (max-width:760px){

    .bg-number{
        font-size: 70px;
        opacity: 0.1;
        color: #fff;
        font-weight: 1000;
    } 

    .carousel_item h2{
        margin-top: 95px !important;
        font-size: 23px;
    }

    .carousel_item p{
        font-size: 12px;
    }

    .img-center-sm{
        text-align: center;
    }

    
    .img_home_section2-1{
        margin-left: -50px;
        height: 125px;
    }
    
    .img_home_section2-2{
        margin-left: 75px;
        height: 125px;
    }

    .p_img_home_section2-1{
        margin-left: 0;
    }
    
    .p_img_home_section2-2{
        margin-left: 0;
        margin-top: 3%;
    }

    .img_home_section3-1{
        height: 120px; 
        margin-left: 125px;
    }
    
    .img_home_section3-2{
        height: 125px;;
    }

    .p_img_home_section3-1{
        margin-left: 0;
    }
    
    .p_img_home_section3-2{
        margin-left: 0;
    }

    .blue_panel {
        width: 95%;
        background-color: #2f1b5d;
        padding: 18px;
        text-align: center;
        margin-left: -3%;
        color: #fff !important;
        /* border-radius: 100px; */
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        text-transform: uppercase;
    }

    .blue-gradient {
        width: 90%;
        margin-top: 0 !important;
        background: linear-gradient(to right, #4393ca, #2f1b5d);
    }

    .blue-color, .blue-gradient {
        width: 85%;
        background-color: #4393ca;
        padding: 12px;
        margin-top: 10%;
        margin-left: -3%;
        margin-bottom: 0 !important;
        color: #fff !important;
        /* border-radius: 100px; */
        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;
        text-align: center;
        text-transform: uppercase;
    }

    .blue_panel-2 {
        width: 87%;
        background-color: #2f1b5d;
        padding: 18px;
        text-align: center;
        margin-top: 25%;
        margin-left: 16%;
        color: #fff !important;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
    }

    .blue-gradient-2 {
        width: 91%;
        padding: 13px;
        text-align: center;
        position: relative;
        top: -3%;
        right: -12%;
        color: #fff !important;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        background: linear-gradient(to right, #4393ca, #2f1b5d);
    }

    .blue-color-2 {
        width: 96%;
        background-color: #4393ca;
        padding: 12px;
        position: relative;
        top: -5%;
        right: -7%;
        color: #fff !important;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        text-align: center;
    }

    .blue-panel-sm{
        position: relative;
        bottom: 200%;
        right: 0;

    }

    .blue-panel-sm-2{
        margin-top: 75px;
    }

    .img-panel-sm{
        position: relative;
        top: 60%
    }

    /* .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link {
        color: #fff;
        font-family: robotoBold;
        margin-top: 30%;
        position: relative;
        left: -165px;
    } */

    #sub-headers{
        font-size: 28px;
        font-family: 'opensans';
    }

    #sub-headers2{
        font-size: 14.5px;
        font-family: 'opensansItalic';
    }

    #sub-headers2-contact{
        font-size: 19.5px;
        font-family: 'opensansItalic';
    }

    #sub-headers-p{
        font-size: 12px;
    }

    #sub-headers-p1{
        font-size: 12px;
        position: relative;
        left: -8%;
    }
    
    #btn-subheader-home{
        background-color: transparent;
        border: 2px double #dee2e6;
        border-radius: 25px 25px 25px 25px;
        width: 220px;
        font-family: 'robotoBold';
    }

    #bg_number_header{
        color:#fff; 
        font-size: 14px;
        margin-top: -15%; 
        margin-left: 12%; 
        font-weight: bold;
        text-transform: uppercase;
    }

    #sub-header3{
        font-family: 'opensansItalic';
        font-size: 24px;
        padding-top: 10px;
        color: #dee2e6;
    }
}

.navbar-toggler{
    width: 60px;
    height: 40px;
    background-color: #fff;
    border:none;
}
.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 4px;
    background-color: #2f1b5d;
    margin-bottom: 5px;
}

body .offcanvas-active{
	overflow:hidden;
}

.offcanvas-header{ 
    display:none; 
}

.offcanvas-header1, .offcanvas-header2{
    display: block;
}

.footer_wrapper22{
    display: none;
}

@media (max-width: 992px) {

    .footer_wrapper{
    display: none;
    }

    .footer_wrapper22{
        display: block;
    }

  .offcanvas-header{ 
      display:block; 
    }

    .offcanvas-header1, .offcanvas-header2{
        display: none;
    }

  .navbar-collapse {
    position: fixed;
    float: left;
    top:0; 
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    color: #fff;
    background-color: #2f1b5d;
    transition: visibility .2s ease-in-out, transform .2s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }

  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-family: robotoBold;
    margin-top: 30%;
    position: relative;
    left: -200px;
 }

 .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

 .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid transparent;
    border-right: .3em solid transparent;
    border-bottom: .3em solid transparent;
    border-left: .3em solid;
 }

 .footer-list_mobile{
    color: #2f2971; 
    font-weight: bold; 
    font-size: 8px; 
    line-height: 1.5em;
 }

}




@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
   
    #bg_number_header {
        color: #fff;
        font-size: 10px;
        margin-top: -15%;
        margin-left: 12%;
        font-weight: bold;
        text-transform: uppercase;
    }

    #sub-headers-p1 {
        font-size: 8px;
        position: relative;
        left: -8%;
    }

    #sub-headers2 {
        font-size: 13px;
        font-family: 'opensansItalic';
    }

    #sub-headers2-contact{
        font-size: 17px;
        font-family: 'opensansItalic';
    }

    .footer-list_mobile {
        color: #2f2971;
        font-weight: bold;
        font-size: 7px;
        line-height: 1.5em;
    }

    .img_home_section3-1 {
        height: 120px;
        margin-left: 100px;
    }

    .blue-panel-sm {
        position: relative;
        bottom: 200%;
        right: -5px;
    }
}