<!-- <div class="wrapper bg-white">
    <div class="row my-3">
        <img src="../../assets/images/logo.svg" height="80" alt="">
    </div>
    <div class="row py-4 d-grid">
        <div class="item_1">
            <ul style="list-style-type: none;">
                <li><a href="#">Home</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
        <div class="item_2 text-black">
            <ul style="list-style-type: none;">
                <li><a href="#">Home</a></li>
                <li><a href="#">Product</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
</div> -->


<div class="container-fluid footer_wrapper my-3 py-4">
    <div class="row">
        <div class="col-md-2">
            <img src="../../assets/images/logo.svg" class="img-thumbnail" height="80" alt="">
            <ul class="footer-list1 mt-3">
                <li><a href="index.html"> HOME </a></li>
                <li><a href="#">  PRODUCTS </a></li>
                <li><a href="#"> SERVICES </a></li>
                <li><a href="#"> GALLERY </a></li>
                <li><a href="#"> CONTACTS </a></li>
            </ul>
        </div>
        <div class="col-md-2">
            <p class="footer-header pb-2">PRODUCTS</p>
            <div class="row">
                <div class="col-6">
                    <div class="footer-list2">
                       <a href="#"> SOFTWARE </a><br>
                       <a href="#"> Animations </a><br>
                       <a href="#"> Power 3D </a><br>
                       <a href="#" class="font-weight-bold "> Digital Twin </a><br>
                       <a href="#"> Training 3D </a><br>
                       <a href="#"> Services 3D </a><br>
                       <a href="#"> VR/AR </a><br>
                       <a href="#"> Configurators </a><br>
                    </div>
                </div>
                <div class="col-6">
                    <div class="footer-list2">
                        <a href="#"> HARDWARE </a><br>
                       <a href="#"> NFC magnetic Cards/RFID</a><br>
                       <a href="#"> Interactive Light Panel</a><br>
                       <a href="#"> Interactive Models</a><br>
                       <a href="#"> Holograms</a><br>
                    </div>
                </div>
                <!-- <div class="col-2"></div> -->
            </div>
        </div>
        <div class="col-md-2">
            <p class="footer-header pb-2">Digital twin</p>
                <div class="footer-list2">
                   <a href="#"> Automotive - how it works </a><br>
                   <a href="#"> Agriculture 5G/ smart farming </a><br>
                   <a href="#"> Industry 4.0 / manufacturing </a><br>
                   <a href="#"> Infrastructure / traffic </a><br>
                   <a href="#"> 5G how it works / smart city </a><br>   
                   <a href="#"> Interactive booth </a><br>
                   <a href="#"> Hydraulic.</a>
                </div>
        </div>
        <div class="col-md-2">
            <p class="footer-header pb-2">SERVICES</p>
                <div class="footer-list2">
                   <a href="#"> Animations and Scenarios creation </a><br>
                   <a href="#"> 3d models creation, CAD, 3D scanning, Post-Processing </a><br>
                   <a href="#"> Content creation </a><br>
                   <a href="#"> Interactive light panels design and production </a><br>
                   <a href="#"> Interactive models design and production </a><br>
                   <a href="#"> Exhibition Booths / Digital Corners planning and implementation </a>
                </div>
        </div>
        <div class="col-md-1">
            <p class="footer-header pb-2">CONTACTS</p>
                <div class="footer-list2">
                   <a href="#">office@gamifyworld.com</a>  
                </div>
                <div class="pt-2 row">
                    <img src="../../assets/images/icons/facebook.svg" alt="" height="25px">
                    <img src="../../assets/images/icons/whatsapp.svg" class="mx-2" alt="" height="25px">
                    <img src="../../assets/images/icons/youtube.svg" alt="" height="25px">
                </div>  
        </div>
        <div class="col-md-3">
            <p class="text-right" style="color: #2f2971;">EN &nbsp; FR &nbsp; RO &nbsp; </p>
            <div class=" policy-footer">
                <div class="footer-list2">
                    PRIVACY POLICY&nbsp;&nbsp;TERMS OF USE&nbsp;&nbsp;LEGAL&nbsp;&nbsp;CUSTOMER SUPPORT&nbsp;&nbsp;SITE MAP
                </div>
            </div>
            <div class=" footer-list2 copywrite-footer text-right">
                Digital Agency Software&reg; 2020 All rights reserved.
            </div>
        </div>
    </div>
</div>
